<div class="container">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="thead-dark">
    <tr>
                <th>customerId</th>
                <th>customerEmail</th>
                <th>feedback</th>
                </tr>
            </thead>
<tbody>>
 <tr *ngFor="let s of customercare">
    <td>{{s.customerId}}</td>
    <td>{{s.customerEmail}}</td>
    <td>{{s.feedback}}</td>
 </tbody>
    </table>
</div>





